<!DOCTYPE html>
<html lang="en">
<body>
    <section class="probootstrap-cta">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="probootstrap-animate" data-animate-effect="fadeInRight">Hoziroq kursga yoziling!</h2>
                    <a href="#" role="button" class="btn btn-primary btn-lg btn-ghost probootstrap-animate"
                       data-animate-effect="fadeInLeft">Enroll</a>
                </div>
            </div>
        </div>
    </section>
    <footer class="probootstrap-footer probootstrap-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="probootstrap-footer-widget">
                        <h3>Biz haqimizda</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro provident suscipit natus a
                            cupiditate ab minus illum quaerat maxime inventore Ea consequatur consectetur hic provident
                            dolor ab aliquam eveniet alias</p>
                        <h3>Ijtimoiy tarmoqlarda</h3>
                        <ul class="probootstrap-footer-social">
                            <li><a href="hhtps://t.me/CSCIELTS/"><i class="icon-telegram"></i></a></li>
                            <li><a href="https://instagram.com/continental_55/"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-telegram"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-md-push-1">
                    <div class="probootstrap-footer-widget">
                        <h3>Linklar</h3>
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'courses' %}">Courses</a></li>
                            <li><a href="{% url 'news' %}">News</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="probootstrap-footer-widget">
                        <h3>Bog'lanish uchun</h3>
                        <ul class="probootstrap-contact-info">
                            <li><i class="icon-location2"></i>
                                <span>Qarshi shahri, Agrobank ro'parasi</span></li>
                            <li><i class="icon-telegram"></i><span>CSCIELTS</span></li>
                            <li><i class="icon-phone2"></i><span>+998 (95) 680 68-01</span></li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- END row -->

        </div>

        <div class="probootstrap-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-left">
                        <p>&copy;<a href="#">Lorem Ipsum</a> Lorem ipsum <i class="icon icon-heart"></i> by <a
                                    href="#">Lorem ipsum</a></p>
                    </div>
                    <div class="col-md-4 probootstrap-back-to-top">
                        <p><a href="#" class="js-backtotop">Back to top <i class="icon-arrow-long-up"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>